$icomoon-font-path: "fonts" !default;

$libras-icon-close: "\e600";
$libras-icon-drag-horizontal: "\e601";
$libras-icon-drag-vertical: "\e602";
$libras-icon-handle-horizontal: "\e603";
$libras-icon-handle-vertical: "\e604";
$libras-icon-check-mark: "\e605";
$libras-icon-left-triangle-arrow: "\e606";
$libras-icon-right-triangle-arrow: "\e607";
$libras-icon-down-arrow: "\e608";
$libras-icon-up-arrow: "\e609";
$libras-icon-overview-arrow-bottom-left: "\e60a";
$libras-icon-overview-arrow-bottom-right: "\e60b";
$libras-icon-overview-arrow-top-left: "\e60c";
$libras-icon-overview-arrow-top-right: "\e60d";
$libras-icon-maximize: "\e60e";
$libras-icon-minimize: "\e60f";
$libras-icon-checkbox-unchecked: "\e610";
$libras-icon-checkbox-checked: "\e611";
$libras-icon-radio-unchecked: "\e612";
$libras-icon-radio-checked: "\e613";
$libras-icon-up-arrow-circled: "\e614";
$libras-icon-down-arrow-circled: "\e615";
$libras-icon-left-arrow-circled: "\e616";
$libras-icon-right-arrow-circled: "\e617";
$libras-icon-zoom-out-fixed: "\e618";
$libras-icon-zoom-in-fixed: "\e619";
$libras-icon-refresh: "\e61a";
$libras-icon-edit: "\e61b";
$libras-icon-authorize: "\e61c";
$libras-icon-map-pin: "\e61d";
$libras-icon-blank-map-pin: "\e61e";
$libras-icon-table: "\e61f";
$libras-icon-plus: "\e620";
$libras-icon-minus: "\e621";
$libras-icon-beginning: "\e622";
$libras-icon-reverse: "\e623";
$libras-icon-pause: "\e624";
$libras-icon-play: "\e625";
$libras-icon-forward: "\e626";
$libras-icon-end: "\e627";
$libras-icon-erase: "\e628";
$libras-icon-up-down-arrows: "\e629";
$libras-icon-left: "\e62a";
$libras-icon-right: "\e62b";
$libras-icon-announcement: "\e62c";
$libras-icon-notice-round: "\e62d";
$libras-icon-notice-triangle: "\e62e";
$libras-icon-home: "\e62f";
$libras-icon-locate: "\e630";
$libras-icon-expand: "\e631";
$libras-icon-collapse: "\e632";
$libras-icon-layer-list: "\e633";
$libras-icon-basemap: "\e634";
$libras-icon-globe: "\e635";
$libras-icon-applications: "\e636";
$libras-icon-arrow-up-circled: "\e637";
$libras-icon-arrow-down-circled: "\e638";
$libras-icon-arrow-left-circled: "\e639";
$libras-icon-arrow-right-circled: "\e63a";
$libras-icon-minus-circled: "\e63b";
$libras-icon-plus-circled: "\e63c";
$libras-icon-add-attachment: "\e63d";
$libras-icon-attachment: "\e63e";
$libras-icon-calendar: "\e63f";
$libras-icon-close-circled: "\e640";
$libras-icon-browser: "\e641";
$libras-icon-collection: "\e642";
$libras-icon-comment: "\e643";
$libras-icon-configure-popup: "\e644";
$libras-icon-contact: "\e645";
$libras-icon-dashboard: "\e646";
$libras-icon-deny: "\e647";
$libras-icon-description: "\e648";
$libras-icon-directions: "\e649";
$libras-icon-directions2: "\e64a";
$libras-icon-documentation: "\e64b";
$libras-icon-duplicate: "\e64c";
$libras-icon-review: "\e64d";
$libras-icon-environment-settings: "\e64e";
$libras-icon-error: "\e64f";
$libras-icon-error2: "\e650";
$libras-icon-experimental: "\e651";
$libras-icon-feature-layer: "\e652";
$libras-icon-filter: "\e653";
$libras-icon-grant: "\e654";
$libras-icon-group: "\e655";
$libras-icon-key: "\e656";
$libras-icon-labels: "\e657";
$libras-icon-tag: "\e658";
$libras-icon-layers: "\e659";
$libras-icon-left-arrow: "\e65a";
$libras-icon-right-arrow: "\e65b";
$libras-icon-link-external: "\e65c";
$libras-icon-link: "\e65d";
$libras-icon-loading-indicator: "\e65e";
$libras-icon-maps: "\e65f";
$libras-icon-marketplace: "\e660";
$libras-icon-media: "\e661";
$libras-icon-media2: "\e662";
$libras-icon-menu: "\e663";
$libras-icon-mobile: "\e664";
$libras-icon-phone: "\e665";
$libras-icon-navigation: "\e666";
$libras-icon-pan: "\e667";
$libras-icon-printer: "\e668";
$libras-icon-pie-chart: "\e669";
$libras-icon-chart: "\e66a";
$libras-icon-line-chart: "\e66b";
$libras-icon-question: "\e66c";
$libras-icon-resend-invitation: "\e66d";
$libras-icon-rotate: "\e66e";
$libras-icon-save: "\e66f";
$libras-icon-settings: "\e670";
$libras-icon-settings2: "\e671";
$libras-icon-share: "\e672";
$libras-icon-sign-out: "\e673";
$libras-icon-support: "\e674";
$libras-icon-user: "\e675";
$libras-icon-time-clock: "\e676";
$libras-icon-trash: "\e677";
$libras-icon-upload: "\e678";
$libras-icon-download: "\e679";
$libras-icon-zoom-in-magnifying-glass: "\e67a";
$libras-icon-search: "\e67b";
$libras-icon-zoom-out-magnifying-glass: "\e67c";
$libras-icon-locked: "\e67d";
$libras-icon-unlocked: "\e67e";
$libras-icon-favorites: "\e67f";
$libras-icon-compass: "\e680";
$libras-icon-down: "\e681";
$libras-icon-up: "\e682";
$libras-icon-chat: "\e683";
$libras-icon-dock-bottom: "\e684";
$libras-icon-dock-left: "\e685";
$libras-icon-dock-right: "\e686";
$libras-icon-organization: "\e687";
$libras-icon-north-navigation: "\e688";
$libras-icon-locate-circled: "\e689";
$libras-icon-dial: "\e68a";
$libras-icon-polygon: "\e68b";
$libras-icon-polyline: "\e68c";
$libras-icon-visible: "\e68d";
$libras-icon-non-visible: "\e68e";
$libras-icon-link-vertical: "\e68f";
$libras-icon-unlocked-link-vertical: "\e690";
$libras-icon-link-horizontal: "\e691";
$libras-icon-unlocked-link-horizontal: "\e692";
$libras-icon-swap: "\e693";
$libras-icon-cta-link-external: "\e694";
$libras-icon-reply: "\e695";
$libras-icon-public: "\e696";
$libras-icon-share2: "\e697";
$libras-icon-launch-link-external: "\e698";
$libras-icon-rotate-back: "\e699";
$libras-icon-pan2: "\e69a";
$libras-icon-tracking: "\e69b";
$libras-icon-expand2: "\e69c";
$libras-icon-arrow-down: "\e69d";
$libras-icon-arrow-up: "\e69e";
$libras-icon-hollow-eye: "\e69f";
$libras-icon-play-circled: "\e6a0";
$libras-icon-volume-off: "\e6a1";
$libras-icon-volume-on: "\e6a2";

