#trackPopUp{
    position: absolute;
    width: 460px;
    max-height: 80%;
    background-color: #fff;
}
#dockPopUp{
    position:absolute;
    width: 460px;
    max-height: 80%;
    background-color: #fff;
    top:20px;
    right:40px;
}
.libras-popup {
    position: absolute;
    text-align: center;
    width:100%;
    top:5px;
    left:0;
}
.libras-popup::after{
    position: absolute;
    left: calc(50% - 12px);
    bottom: -30px;
    content: '';
    display: inline-block;
    border: 14px solid transparent;
    border-top: 18px solid #fff;
}
.libras-popup-header{
    padding: 8px;
    margin: 0 0 0 5px;
    font-size: 16px;
    word-break:break-all;
    word-wrap: break-word;
    font-weight: 600;
    color: #323232;
    font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
    width: calc(100% - 45px);
    max-height: 35px;
}
.libras-popup-header-title{
    font-size: 22px;
    font-weight: 600;
    margin: 0 auto 0 0;
    display: block;
    flex: 1;
    word-break: break-all;
    padding: 7px 5px 0px 0px;
}
.libras-popup-header-buttons{
    padding: 0 7px;
    margin: 0 0 0 auto;
    display: flex;
    top: 0;
    right: 0;
}
.libras-popup-button {
    padding: 10px 7px;
    line-height: 1.3em;
    cursor: pointer;
    user-select: none;
    color: #6e6e6e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
}
.libras-popup-content-wrapper {
    text-align: center;
    max-height: 500px;
    background: white;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    padding: 1px;
    text-align: left;
    border-radius: 2px;
}
.libras-popup-content {
    word-break:break-all;
    word-wrap: break-word;
    color: #0F192A;
    padding: 0px 14px 14px 14px;
    line-height: 1.4;
    /*width: 100%;*/
    max-height: 400px;
    overflow-y: auto;
}

.libras-popup-content table {
    color: #323232;
    border: none;
    border-collapse: collapse;
    width: 100%;
}
.libras-popup-content table tr:nth-child(odd) {
    background-color: rgba(76,76,76,0.1);
}
.libras-popup-content table tr:nth-child(even) {
    background-color: rgba(76,76,76,0.02);
}
.libras-popup-content table tr th {
    width: 50%;
    text-align: left;
    border-right: 3px solid rgba(0,0,0,0.05);
}
.libras-popup-content table tr td {
    width: 50%;
}
.libras-popup-footer{
    font-weight: 400;
    font-size: 12px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex: 0 0 auto;
}
.libras-popup-footer-action-image{
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    flex: 1 0 16px;
}
.libras-popup-tip-container {
    display: none;
    margin: 0 auto;
    width: 40px;
    height: 20px;
    position: relative;
    overflow: hidden;
}
.libras-popup-tip {
    background: white;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    width: 17px;
    height: 17px;
    padding: 1px;
    margin: -10px auto 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}