<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/modules/treeSelect/treeSelect.css" />
	</head>

	<body>
		<div class="layui-form" lay-filter="security_form_role" id="security_form_role" style="padding: 20px 30px 0 0;">
			<div class="layui-form-item">
				<label class="layui-form-label">名称</label>
				<div class="layui-input-block">
					<input type="text" name="nameCn" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">机构</label>
				<div class="layui-input-block">
					<input type="text" name="organization" id="organization" lay-verify="required" lay-filter="organization" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">描述</label>
				<div class="layui-input-block">
					<textarea name="describes" placeholder="请输入内容" class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item layui-hide">
				<button class="layui-btn" lay-submit lay-filter="security_submit_role" id="security_submit_role">提交</button>
			</div>
		</div>

		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script>
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index', //主入口模块
				treeselect: 'treeSelect/treeselect'
			}).use(['index', 'treeselect', 'qCommon', 'form'], function() {
				var $ = layui.$,
					treeSelect = layui.treeselect,
					setter = layui.setter,
					qCommon = layui.qCommon,
					form = layui.form;
				qCommon.ajax({
					url : '/organization/queryOrganizationTree',
					done : function(res){
						var data = res.data;
						treeSelect.render({ // 选择器
				            elem: '#organization', // 数据
				            data: data, // 异步加载方式：get/post，默认get
				            placeholder: '请选择机构',  // 是否开启搜索功能：true/false，默认false
				            search: true, // 点击回调
				            click: function(d){
				            },  // 加载完成后的回调函数
				            success: function (d) {
				            }
		        		});
					}
				})
				
				
			})
		</script>
	</body>

</html>