<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/layui/icon/iconfont.css" media="all"/>
		<style>
			.layui-body{
				    position: fixed;
				    left: 210px;
				    right: 0;
				    top: 0;
				    bottom: 0;
				    z-index: 998;
				    width: auto;
				    overflow: hidden;
				    overflow-y: auto;
				    box-sizing: border-box;
			}
		</style>
	</head>

	<body>
		<input type="hidden" id="roleCodePower" />
		<div class="layui-fluid he">
				<div class="layui-side layui-side-menu">
					<div class="layui-side-scroll">
						<ul id="menuView" class="layui-nav layui-nav-tree layui-bg-molv" lay-filter="menuNav">
						</ul>
					</div>
				</div>
				<div class="layui-body" id="powerBody">
					<div class="layui-card">
						<div class="layui-card-header"><span id="headName" class="layui-text"></span><span class="layui-layout-right" style="color: #FF5722;">(左侧为待赋予权限，右侧为已拥有权限)</span></div>
						<div class="layui-card-body">
							<div id="root"></div>
						</div>
					</div>
				</div>
			</div>
			<script id="permission-menu" type="text/html">
				{{# layui.each(d.list, function(index, item){}}
					<li class="layui-nav-item layui-nav-itemed">
						<a href="javascript:;">{{ item.name }}</a>
						<dl class="layui-nav-child">
							{{# for(var i = 0; i < item.menuList.length; i++){ }}
								<dd>
									<a href="javascript:;">
										<input type="hidden" class="code" value="{{ item.menuList[i].menuCode }}" />
										<i class="layui-icon {{ item.menuList[i].icon }}"></i>
										<span class="name" style="margin-left: 10px">{{ item.menuList[i].nameCn }}</span>
										<span class="layui-badge layui-bg-gray count">{{ item.menuList[i].perCount }}</span>
									</a>
								</dd>
							{{# } }}
						</dl>
					</li>
				{{# }); }}
			</script>
		</div>
		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script src="js/power.js"></script>
	</body>

</html>