<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/layui/icon/iconfont.css" media="all"/>
		<style>
			.layui-body{
				    position: fixed;
				    left: 210px;
				    right: 0;
				    top: 0;
				    bottom: 0;
				    z-index: 998;
				    width: auto;
				    overflow: hidden;
				    overflow-y: auto;
				    box-sizing: border-box;
			}
		</style>
	</head>

	<body>
		<input type="hidden" id="roleCodePower" />
		<div class="layui-fluid he">
				<div class="layui-side layui-side-menu">
					<div class="layui-side-scroll">
						<ul id="menuView" class="layui-nav layui-nav-tree layui-bg-molv" lay-filter="menuNav">
						</ul>
					</div>
				</div>
				<div class="layui-body" id="powerBody">
					<div class="layui-card">
						<div class="layui-card-header"><span id="headName" class="layui-text"></span><span class="layui-layout-right" style="color: #FF5722;">(左侧为待赋予权限，右侧为已拥有权限)</span></div>
						<div class="layui-card-body">
							<div id="root"></div>
						</div>
					</div>
				</div>
			</div>
			<script id="permission-menu" type="text/html">
				{{# layui.each(d.list, function(index, item){}}
					<li class="layui-nav-item layui-nav-itemed">
						<a href="javascript:;">{{ item.name }}</a>
						<dl class="layui-nav-child">
							{{# for(var i = 0; i < item.menuList.length; i++){ }}
								<dd>
									<a href="javascript:;">
										<input type="hidden" class="code" value="{{ item.menuList[i].menuCode }}" />
										<i class="layui-icon {{ item.menuList[i].icon }}"></i>
										<span class="name" style="margin-left: 10px">{{ item.menuList[i].nameCn }}</span>
										<span class="layui-badge layui-bg-gray count">{{ item.menuList[i].perCount }}</span>
									</a>
								</dd>
							{{# } }}
						</dl>
					</li>
				{{# }); }}
			</script>
		</div>
		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script>
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index', //主入口模块
				transfer: 'transfer/transfer'
			}).use(['index', 'qCommon', 'form', 'transfer'], function() {
				var $ = layui.$,
					treeSelect = layui.treeselect,
					setter = layui.setter,
					qCommon = layui.qCommon,
					table = layui.table,
					laytpl = layui.laytpl,
					element = layui.element,
					transfer = layui.transfer,
					form = layui.form;

			    
			    qCommon.ajax({
					url: "/role/getPermissionMenuTree",
					data: {
						roleCode: $("#roleCodePower").val()
					},
					done: function(res) {
						var menuList = res.data;
						var tempMenu = [];
						for(var menu in menuList){
							tempMenu[tempMenu.length] = {
								"name" : menu,
								"menuList" : menuList[menu]
							}
						}
						// 组装模板所需菜单
						var data = {"list" : tempMenu}
						// 获取模板
						var getTpl = document.getElementById("permission-menu").innerHTML;
						var view = document.getElementById("menuView")
						laytpl(getTpl).render(data, function(html){
							view.innerHTML = html;
							layui.element.render('nav');
						});
					}
				})
			    
			    layui.element.on('nav(menuNav)', function(elem){
					var headName = elem.children(".name").text();
					var code = elem.children(".code").val();
					$('#headName').text(headName);
					
					
					// 渲染穿梭框
					
					var tableDataTrue = [];
					var tableDataFalse = [];
					
					// 获取左边数据
					qCommon.ajax({
						url: "/role/getPermissionTableTrue",
						data: {
							roleCode: $("#roleCodePower").val(),
							menuCode: code
						},
						async: false,
						done: function(res) {
							tableDataTrue = res.data
						}
					});
					
					// 获取右边数据
					qCommon.ajax({
						url: "/role/getPermissionTableFalse",
						data: {
							roleCode: $("#roleCodePower").val(),
							menuCode: code
						},
						async: false,
						done: function(res) {
							tableDataFalse = res.data;
						}
					});
					
				    //表格列
				    var cols = [{type: 'checkbox', fixed: 'left'},{field: 'nameCn', title: '权限名'}]
				    //表格配置文件
				    var tabConfig = {'page':false,'limits':[100000],'limit':Number.MAX_VALUE, 'height':"full-160"}
				    var tb1 = transfer.render({
				        elem: "#root", //指定元素
				        cols: cols, //表格列  支持layui数据表格所有配置
				        data: [tableDataTrue, tableDataFalse], //[左表数据,右表数据[非必填]]
				        tabConfig: tabConfig, //表格配置项 支持layui数据表格所有配置
				    });
				    
				    $("#powerBtn").remove();
				    
				    var btnHtml = '<div class="layui-card" id="powerBtn">'
						 	btnHtml+= '<div class="layui-card-body">' 
								btnHtml+= '<button style="margin-left: 48%;" class="layui-btn" id="addPower">确定</button>'
							btnHtml+= '</div>'
						btnHtml+= '</div>';
					
					$("#powerBody").append(btnHtml);
						
				    
				    $("#addPower").off('click').on('click', function(){
				    	var data = transfer.get(tb1,'r', 'permissionCode');
				    	qCommon.ajax({
							url: "/role/addRolePermission",
							data: {
								roleCode : $("#roleCodePower").val(),
								menuCode : code,
								permissions : data
							},
							done: function(res) {
								var len = (data instanceof Array ? 0 : data.split(",").length);
								elem.children(".count").text(len);
								layer.msg('分配成功');
							}
						})
				    });
				});
			    
			})
		</script>
	</body>

</html>