<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
	</head>

	<body>
		<div class="layui-fluid">
			<div class="layui-card">
				<div class="layui-form layui-card-header layuiadmin-card-header-auto">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">账号</label>
							<div class="layui-input-block">
								<input type="text" name="username" placeholder="请输入账号" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">昵称</label>
							<div class="layui-input-block">
								<input type="text" name="nickName" placeholder="请输入昵称" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">启用</label>
							<div class="layui-input-block">
								<select name="isAvailable">
									<option value=""></option>
									<option value="0">启用</option>
									<option value="1">未启用</option>
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<button class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="security_user_btn_query">
              					<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            				</button>
						</div>
					</div>
				</div>
				<div class="layui-card-body">
					<script type="text/html" id="toolbar">
						{{# if(validatePermission('/addAccount')){ }}
							<button class="layui-btn layui-btn-sm security_btn_user" lay-event="add"><i class="layui-icon layui-icon-add-1"></i>添加</button>
						{{# } }}
						{{# if(validatePermission('/deleteAccount')){ }}
							<button class="layui-btn layui-btn-sm security_btn_user" lay-event="batchdel"><i class="layui-icon layui-icon-delete"></i>删除</button>
						{{# } }}
					</script>

					<table id="security_user" lay-filter="security_user"></table>

					<script type="text/html" id="isAvailable">
						{{# if(d.isAvailable == 0){ }}
						<button class="layui-btn layui-btn-xs">已启用</button> {{# } else { }}
						<button class="layui-btn layui-btn-primary layui-btn-xs">未启用</button> {{# } }}
					</script>
					
					<script type="text/html" id="security_user_handle">
						{{# if(validatePermission('/editAccount')){ }}
							<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
						{{# } }}
						{{# if(validatePermission('/editPassword')){ }}
							<a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="editPassword"><i class="layui-icon layui-icon-password"></i>密码</a>
						{{# } }}
						{{# if(validatePermission('/deleteAccount')){ }}
							<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
						{{# } }}
					</script>
				</div>
			</div>
		</div>

		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script src="../../lib/md5.js"></script>
		<script src="../../lib/common.js"></script>
		<script src="js/accountManager.js"></script>
	</body>

</html>